name: Build and Deploy to GitHub Pages

on:
  push:
    branches: [ "main", "master" ]
  workflow_dispatch:

permissions:
  contents: write

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Emscripten
        uses: mymindstorm/setup-emsdk@v14
        with:
          version: 3.1.51 # Pin a recent stable version

      - name: Build GMP
        run: |
          wget https://gmplib.org/download/gmp/gmp-6.3.0.tar.xz || wget https://ftp.gnu.org/gnu/gmp/gmp-6.3.0.tar.xz
          tar xf gmp-6.3.0.tar.xz
          cd gmp-6.3.0
          emconfigure ./configure --disable-assembly --host=none --enable-cxx --prefix=$PWD/install
          emmake make -j4
          emmake make install
          cd ..

      - name: Compile to WASM
        run: |
          mkdir -p dist
          
          # Compile C++ to WASM linking against our built GMP
          emcc src/wasm_interface.cpp \
            -I src \
            -I gmp-6.3.0/install/include \
            -L gmp-6.3.0/install/lib \
            -O3 \
            -lgmpxx -lgmp \
            -s NO_EXIT_RUNTIME=1 \
            -s ALLOW_MEMORY_GROWTH=1 \
            --bind \
            -o dist/seqfinder.js

      - name: Prepare Static Files
        run: |
          cp gui/wasm/index.html dist/index.html
          cp gui/wasm/style.css dist/style.css

      - name: Deploy to GitHub Pages
        uses: JamesIves/github-pages-deploy-action@v4
        with:
          folder: dist
